[submodule "python_bindings/pybind11"]
	path = python_bindings/pybind11
	url = https://github.com/pybind/pybind11
[submodule "legion/legion"]
	path = legion/legion
	url = https://gitlab.com/StanfordLegion/legion.git
[submodule "legion/OpenBLAS"]
	path = legion/OpenBLAS
	url = https://github.com/xianyi/OpenBLAS.git
[submodule "petsc/petsc"]
	path = petsc/petsc
	url = https://gitlab.com/petsc/petsc.git
[submodule "trilinos/Trilinos"]
	path = trilinos/Trilinos
	url = git@github.com:rohany/Trilinos.git
[submodule "legion/cub"]
	path = legion/cub
	url = https://github.com/NVIDIA/cub.git