*.log
*.out
build/CTestTestfile.cmake
build/apps/
build/include/
build/legion/
build/src/
build/test/
build/tools/
bin/
lib/
*__pycache__*
*.swp
*.swo
*.DS_Store
*Makefile
*CMakeFiles/
*cmake_install.cmake
CMakeCache.txt
doc

apps/tensor_times_vector/tensor_times_vector
